body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #171717;
}


/* login page */
.login {
    /* background-color: #171717; */
}

.email-box {
    margin-bottom: 30px;
}

.password-box {
    margin-bottom: 45px;
}

form {
    background-color: #171717;
    color: #fff;
}

.form-control {
    background-color: #171717;
    color: #fff
}

/*active: clicked, focus: typing */
.form-control:active{
    background-color: #171717;
    color: #fff; 
    border-color: #1DB954;
}


.form-control:focus{
    background-color: #171717;
    color: #fff; 
    border-color: #1DB954;

}

/**
input:not(:placeholder-shown) {
    background-color: #171717;
    color: #fff;
}**/

.login-section {
    width: 20%;
    margin: auto;
    margin-top: 15%;
}

.custom-button {
    width: 100%;
    background-color: #1DB954;
    border-color: #0a3e1c;
}

.custom-button:hover {
    background-color: #14843b;
}

.register {
    margin-top: 20px;
}

.no-underlines {
    text-decoration: none;
    color: #14843b;
}

.no-underlines:hover{
    color: #1DB954;
}

.navbar {
    padding: 12px;
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

#title {
    /* background-color: rgb(0, 164, 77); */
    background-color: #1DB954;
    color: #fff;
}
.form-check-input:checked {
    background-color: #1DB954;
    border-color: #1DB954;
}

.form-check-input{
    background-color: #000;
    border: 1px solid #fff;
    border-color: #1DB954;
}